.Wrap {
  max-width: 1920px;
  overflow: hidden;
}

.header {
  width: 100%;
  line-height: 100px;
  color: #fff;
  font-size: 19px;
  z-index: 999;
}

.header .container {
  width: 1200px;
  margin: 0 auto;
  color: #fff;
}

/* .header img {
  transform: scale(0.5);
} */

.header nav {
  display: flex;
  justify-content: space-between
}

.header nav>* {
  flex: 1;
}

.header h1 {
  margin: -15px 0 0 0;
  text-align: center;
}

.header nav>ul {
  font-size: 15px;
  font-weight: 300;
  display: flex;
  gap: 40px;
}

.header nav>ul.right {
  justify-content: flex-end;
}

.header nav>ul li {
  color: #000;
  font-size: 19px;
  font-weight: 400;
}

.mainvisual .container {
  margin: 0 auto;
  width: 1700px;
}

.mainvisual .container div {
  border-radius: 50px;
}

.mainvisual .container img {
  border-radius: 50px;
}

.bestseller .container {
  padding: 100px 0;
  width: 1520px;
  margin: 0 auto;

}

.bestseller h2 {
  font-size: 31px;
  line-height: 1.45em;
}

.bestseller p {
  font-size: 19px;
  font-weight: 300;
  line-height: 1.45em;
  margin-bottom: 30px;
}

.bestslider .slick-slide {
  padding-right: 20px;
  gap: 40px;
}

.bestslider img {
  margin-bottom: 10px;
}

.bestslider h3 {
  font-size: 19px;
  line-height: 1.45em;
  margin-bottom: 20px;
}

.bestslider p {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.45em;
  margin-bottom: 20px;
}

.maincoco .container {
  padding: 100px 0;
  margin: 0 auto;
  text-align: center;
  background: #f8f8f8;
}

.maincoco h3 {
  font-size: 21px;
  font-weight: 500;
  line-height: 1.45em;
  margin-bottom: 10px;
}

.maincoco p {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.45em;
}

.realreview .container {
  padding: 100px 0;
  width: 1520px;
  margin: 0 auto;

}

.realreview .container .review {
  display: flex;
  gap: 20px;
}

.realreview img {
  border-radius: 20px;
  margin-bottom: 20px;
}

.realreview h2 {
  font-size: 31px;
  font-weight: 500;
  line-height: 1.45em;
}

.realreview h3 {
  font-size: 21px;
  font-weight: 400;
  line-height: 1.45em;
  margin-bottom: 30px;
}

.realreview p {
  font-size: 19px;
  font-weight: 300;
  line-height: 1.45em;
  margin-bottom: 30px;
}

.realreview .star{
  font-size: 15px;
  font-weight: 300;
  line-height: 1.45em;
  margin-bottom: 10px;
}
.realreview .name{
  font-size: 19px;
  font-weight: 300;
  line-height: 1.45em;
  margin-bottom: 10px;
}

.footbanner .container{
  margin-bottom: -1px;
}

.footbanner.container .slick-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  font-size: 0;
  border: none;
  background: transparent;
  width: 50px;
  height: 50px;
  border-top: 2px solid rgb(144, 96, 100);
  border-left: 2px solid rgb(144, 96, 100);
  opacity: 0.3;
  transition: 0.3s;
}

.footbanner .container .slick-arrow:hover {
  opacity: 1;
  transition: border 0.5s;
}

.footbanner .container .slick-prev {
  margin: 0 0 0 -700px;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.footbanner .container .slick-next {
  margin: 0 0 0 700px;
  transform: translate(-50%, -50%) rotate(135deg);
}




footer {
  background: #f1f1f1;
  padding: 50px 0;
}

footer .container {
  text-align: center;
}

footer .container .logo {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
}


footer .container .logo_p {
  margin: 0 0 50px 0;
  font-weight: 300;
}

footer .container .logo_p p {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 30px;
}

footer .container .logo_p span {
  font-size: 21px;
  font-weight: 500;
}

footer .container .logo_p .coco{
  font-weight: 700;
  color: #70524c;
}

footer .container ul li {
  display: inline-block;
  padding: 0 20px;
  margin: 0 0 50px 0;
  font-size: 17px;
  font-weight: 500;
}

footer .container .sns {
  margin: 0 0 30px 0;
}

footer .container i {
  font-size: 25px;
  padding: 0 10px;
}

footer .container .copyright {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.3;
}